.Header {
    background-color: #ff4d4d;
    height: 100px;
    padding: 20px;
    flex-direction: row;
    display: flex;
}

/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 368px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }